In [1]:
from cbpro.public_client import PublicClient
import pandas as pd
pub = PublicClient()
dat = pd.DataFrame(pub.get_product_historic_rates(product_id='BTC-EUR',\
                   start='2022-09-13 12:00:00',end='2022-09-14 12:00:00',\
                    granularity=300),\
                   columns=['time','low','high','open','close','volume'])
time = dat['time']
time = pd.to_datetime(time,unit='s')
dat.index = time
dat = dat.drop('time', axis=1)
dat = dat.sort_values('time')

In [2]:
dat

                          low      high      open     close     volume
time
2022-09-13 12:00:00  22130.26  22227.54  22130.26  22211.14   8.216148
2022-09-13 12:05:00  22209.00  22248.94  22209.00  22233.05   0.623299
2022-09-13 12:10:00  22197.12  22243.83  22232.48  22226.00   2.363756
2022-09-13 12:15:00  22224.36  22277.46  22224.46  22257.49   5.370969
2022-09-13 12:20:00  22229.40  22324.00  22256.24  22321.60   3.835224
...                       ...       ...       ...       ...        ...
2022-09-14 11:40:00  20288.56  20306.12  20306.12  20298.38   3.103144
2022-09-14 11:45:00  20262.66  20296.83  20296.83  20262.66   1.463187
2022-09-14 11:50:00  20206.07  20280.25  20265.84  20206.07   4.646182
2022-09-14 11:55:00  20070.85  20241.34  20220.60  20239.63  20.612595
2022-09-14 12:00:00  20180.08  20249.39  20249.39  20180.08   0.769736

[289 rows x 5 columns]

In [3]:
import numpy as np
price = dat['close'].array
pricechange = price[1:]-price[:-1]
pricechange = np.hstack((np.array([np.nan]),pricechange))
dat['pricechange'] = pricechange

In [4]:
datNone

,low,high,open,close,volume,pricechange
time,,,,,,
2022-09-13 12:00:00,22130.26,22227.54,22130.26,22211.14,8.216148,NaN
2022-09-13 12:05:00,22209.00,22248.94,22209.00,22233.05,0.623299,21.91
2022-09-13 12:10:00,22197.12,22243.83,22232.48,22226.00,2.363756,-7.05
2022-09-13 12:15:00,22224.36,22277.46,22224.46,22257.49,5.370969,31.49
2022-09-13 12:20:00,22229.40,22324.00,22256.24,22321.60,3.835224,64.11
...,...,...,...,...,...,...
2022-09-14 11:40:00,20288.56,20306.12,20306.12,20298.38,3.103144,-9.35
2022-09-14 11:45:00,20262.66,20296.83,20296.83,20262.66,1.463187,-35.72
2022-09-14 11:50:00,20206.07,20280.25,20265.84,20206.07,4.646182,-56.59
2022-09-14 11:55:00,20070.85,20241.34,20220.60,20239.63,20.612595,33.56
2022-09-14 12:00:00,20180.08,20249.39,20249.39,20180.08,0.769736,-59.55

In [5]:
dat.dtypes

low            float64
high           float64
open           float64
close          float64
volume         float64
pricechange    float64
dtype: object